 #Login{  
background-repeat:no-repeat; 
background-attachment:fixed; 
background-position:left; 
margin-top:150px; 
margin-bottom:150px; 
margin-right:150px;  
padding:9px 35px; 
} 
#button{ 
border-radius:10px; 
width:100px; 
height:40px; 
background:#FF00FF; 
font-weight:bold; 
font-size:20px; 
}

